html, body{
    background-color: black;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.7em;
    margin-left: -2.7em;
    width: 5.4em;
    height: 5.4em;
    background-color: black;
}

.hill {
    position: absolute;
    border: .25em solid white;
    background-color: white;
    height: 10.1em;
    width: 1.1em;
    top: 1em;
    left: 1em;
    transform: rotate(45deg);
}

.hill:after {
    content: '';
    position: absolute;
    width: 1.1em;
    height: 7.1em;
    left: 0;
}

.box {
    position: absolute;
    left: -2.2em;
    bottom: -3.2em;
    height: 2em;
    width: 2em;
    transform: translate(0, -1em) rotate(-45deg);
    animation: push 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite
}

@keyframes push {
    0% {
        transform: translate(0, -1em) rotate(-45deg);
        background-color: red;
    }
    5% {
        transform: translate(0, -1em) rotate(-50deg);
    }
    20% {
        transform: translate(1em, -2em) rotate(40deg);
    }
    27% {
        transform: translate(1em, -2em) rotate(47deg);
        background-color: orange;
    }
    30% {
        transform: translate(1em, -2em) rotate(40deg);
    }
    45% {
        transform: translate(2em, -3em) rotate(137deg);
    }
    50% {
        transform: translate(2em, -3em) rotate(135deg);
        background-color: blue;
    }
    55% {
        transform: translate(2em, -3em) rotate(130deg);
    }
    70% {
        transform: translate(3em, -4em) rotate(210deg);
    }
    75% {
        transform: translate(3em, -4em) rotate(220deg);
        background-color: green;
    }
    85% {
        transform: translate(4em, -5em) rotate(260deg);
    }
    100% {
        transform: translate(0, -1em) rotate(-225deg);
        background-color: green;
    }
    
}

